h2 {
  text-align: center;
}

.container-expenses {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  margin-left: 4%;
}

.info-expense {
  display: flex;
  width: 60%;
  background-color: brown;
  width: 50vh;
  min-height: 50px;
}

.info-expense, p {
  margin-left: 10px;
}

.aside-expenses {
  border: 2px white;
  border-style: groove;
}

.form-wallet {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#btn-form-wallet {
  display: flex;
  align-content: center;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid white;
  font-weight: bold;
  color: white;
}

input[type=number], [type=text], select {
  color: #1b4332;
}